$bg-color:#333;
$font-color:#fff;
$primary-color:#00e8d6;
$dark-overlay: rgba(0,0,0,0.7);
$font-size:30px;

body{
    background:$bg-color;
    color:$font-color;
}

.navbar{
    border-bottom: $primary-color;
    opacity: 0.8;
}

#home-section{
    background:url('../img/graph.jpeg') no-repeat;
    background-size:cover;
    background-attachment: fixed;
    min-height: 700px;
    
    .dark-overlay{
        background-color:$dark-overlay;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        min-height: 700px;
    }
    
    .home-inner{
        padding-top:150px;
    }
    
    .card-form{
        opacity: 0.8;
    }
    
    .fa{
        color:$primary-color;
        background:#fff;
        padding:4px;
        border-radius: 5px;
        font-size:$font-size;
        
    }
}

#home-heading{
    background:#fff;
    color:#333;
    position:relative;
    min-height: 200px;
}

#about-section{
    background:#fff;
    color:#333;
    font-color:#333;
    color:#333;
}

#services-section{
    background:#fff;
    color:$bg-color;
}

